<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftMvvmReactiveCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8830603B1C34CD6E005DF03E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8830604F1C34CD6F005DF03E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8830605A1C34CD6F005DF03E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F6FA1C39948E00109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F7031C39948E00109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F71D1C3994B600109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F7261C3994B600109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F73F1C3994C500109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887F7481C3994C500109BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
